<!-- 라이트박스 컨테이너 (맨 아래에) -->
<div id="lightbox-overlay" class="hidden">
    <button id="lightbox-close">&times;</button>
    <div id="lightbox-content">
      <div id="lightbox-media"></div>
    </div>
  </div>
  