<div class="masonry">
    <% items.forEach((item, index) => { %>
      <%- include('card', { 
        type: item.type, 
        name: item.name, 
        url: item.url, 
        index: index,
        thumbnailUrl: item.thumbnailUrl ? item.thumbnailUrl : undefined
      }) %>
    <% }); %>
  </div>