<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>My File Explorer</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link id="theme-style" rel="stylesheet" href="/styles/themes/dark.css" />
  <link rel="icon" href="/icons/Github-Octicons-Flame-16.svg?v=2" id="page-logo" />
  <link rel="stylesheet" href="https://unpkg.com/basiclightbox@5.0.4/dist/basicLightbox.min.css">
  <script src="https://unpkg.com/basiclightbox@5.0.4/dist/basicLightbox.min.js"></script>
</head>
<body>
  <%- include('body') %>

  <%- include('partials/lightbox') %> <!-- 라이트박스 파셜 -->
  <script type="module" src="/scripts/main.js"></script>
</body>
</html>
