  /** base.css **/

  body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  